<div class="container my-5">
  <h1 class="text-center mb-4 text-sima-white">Contact Us</h1>
  <p class="text-center lead text-sima-white">
    Get in touch with SIMA Shield for inquiries or support.
  </p>

  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <div class="card bg-sima-white text-sima-dark border-0 shadow-lg p-4">
        <h3 class="mb-3 text-sima-blue">Our Details:</h3>
        <p>
          <strong>Address:</strong> UCA Building, 2nd Floor, Suite No: 203A,
          Nkrumah Road, Kampala, Uganda
        </p>
        <p><strong>P.O.Box:</strong> 184272, Kampala, Uganda</p>
        <p><strong>Tel:</strong> +256 708 531 101 / +256 781 050 759</p>
        <p><strong>Email:</strong> info&#64;simashield.net</p>
        <p>
          <strong>Website:</strong>
          <a
            href="https://simashield.net"
            target="_blank"
            class="text-sima-blue"
            >simashield.net</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="card bg-sima-white text-sima-dark border-0 shadow-lg p-4">
        <h3 class="mb-3 text-sima-blue">Send us a message:</h3>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Your Name"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-sima-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
